@font-face{
    font-family: 'raleway-black';
    src: url(../fonts/Raleway-Black.ttf);
}
@font-face{
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: 'raleway-light';
    src: url(../fonts/Raleway-Light.ttf);
}