@import 'fonts.css';
:root{
    --r-b: 'raleway-black';
    --r-r: 'Raleway-Regular';
    --r-l: 'raleway-light';
    --dark: #070707;
    --grey: #7a7a7a;
    --green: #69cf17;
    --col-1: calc(100% /12 * 1);
    --col-2: calc(100% /12 * 2);
    --col-3: calc(100% /12 * 3);
    --col-4: calc(100% /12 * 4);
    --col-5: calc(100% /12 * 5);
    --col-6: calc(100% /12 * 6);
    --col-7: calc(100% /12 * 7);
    --col-8: calc(100% /12 * 8);
    --col-9: calc(100% /12 * 9);
    --col-10: calc(100% /12 * 10);
    --col-11: calc(100% /12 * 11);
    --col-12: calc(100% /12 * 12);
    
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--r-l);
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right:-15px;
    
}
.js{
    justify-content: center;
    
}
.justify-content-between{
    justify-content: space-between;
    
}
.align-items-start{
    align-items: flex-start;
}
.align-items-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}
.col-1{
    width: var(--col-1);
    padding: 0 15px;
}
.col-2{
    width: var(--col-2);
    padding: 0 15px;
}
.col-3{
    width: var(--col-3);
    padding: 0 15px;
}
.col-4{
    width: var(--col-4);
    padding: 0 15px;
}
.col-5{
    width: var(--col-5);
    padding: 0 15px;
}
.col-6{
    width: var(--col-6);
    padding: 0 15px;
}
.col-7{
    width: var(--col-7);
    padding: 0 15px;
}
.col-8{
    width: var(--col-8);
    padding: 0 15px;
}
.col-9{
    width: var(--col-9);
    padding: 0 15px;
}
.col-10{
    width: var(--col-10);
    padding: 0 15px;
}
.col-11{
    width: var(--col-11);
    padding: 0 15px;
}
.col-12{
    width: var(--col-12);
    padding: 0 15px;
}
body{
    background: var(--dark);
}
/* root end */
/* header start */
.header .logo ,footer .logo{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-family: var(--r-b);
    background: #4cf32f;
    border: 5px solid var(--green);
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    
}
.header .logo img{
    margin-right: 10px;
    
}
.header ul{
    display: flex;
    
}
.header ul li a{
    font-size: 20px;
    color: var(--green);
    font-family: var(--r-l);
    padding: 25px 11px 29px 40px;
    display: flex;
}
.header ul li a:hover{
    background: rgba(90, 248, 28, 0.753);
    color: #ffffff;
    border-radius: 2px;
}
.header ul li a span{
    width: 24px;
    height: 24px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    
}

header .logo:hover{
    background: rgba(137, 251, 23,);
    border:3px solid #2a6d2a;
    
}
.header ul li a:hover span{
    color: black;
}
.header{
    background: url(../img/fon.jpg) no-repeat center center/ cover;
    height: 100vh;
    
    
}
.header .header-text h1{
    font-family: var(--r-b);
    font-size: 72px;
    color: var(--green);
    text-transform: uppercase;
    margin-top: 15%;
    
}
.header .header-text h3{
    font-family: var(--r-r);
    color: var(--green);
    font-size: 36px;
    margin-top: 19px;
    margin-bottom: 30px;
    
    
}
.header .header-text .text-ds{
    font-family: var(--r-r);
    font-size: 18px;
    color: #a52525;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 72px;
    
    
    
}
.header .header-text .text-end{
font-family: var(--r-t);
font-size: 60px;
color: #ffffff;
background: rgba(86, 251, 53, 0.75);
padding: 28px 91px 28px 72px;
width: 346px;

}

/* header end */
/* ********************************* */
/* main start */

main{
    margin-top: 51px;
    margin-bottom: 102px;
 }
 
 main ul li a{
    font-size: 20px;
    color: #7a7a7a;
    font-family: var(--r-b);
    margin-left: 44px;
    transition: 0.5s;
 }
 
 main ul li a:hover{
    color: var(--green);
 }
 .main-burger .burger-img{
     width: 100%;
     height: 347px;
     position: relative;
     
 }
 .main-burger .burger-img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     
 }
 .main-burger .burger-img button{
     width: 100%;
     height: 100%;
     position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    color: #ffffff;
    font-family: var(--r-b);
    background: rgba(51, 255, 0, 0.75);
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
    opacity: 0;
 }
 .main-burger .burger-img:hover button{
     opacity: 1;
     font-size: 24px;
     
 }
 .main-burger h2{
     font-size: 24px;
     color: var(--green);
     text-transform: uppercase;
     font-weight: 900;
     margin-top: 37px;
     margin-bottom: 15px;
     
     
 }
 .main-burger p{
     font-family: var(--r-r);
     color: #dedede;
     font-size: 16px;
     
     
 }
 .main-burger{
     margin-top: 69px;
     
 }
/* /////////// */
/* media */
@media( max-width: 992px){
    .col-lg-6{
        width: var(--col-6);
    }
}
@media (max-width:815px){
    .header .header-text h1{
        font-size: 50px;
    }
    
}
.header-text .header-text .text-ds{
    font-size: 15px;
}
@media (max-width:768px){
    .col-md-12{
        width: var(--col-12);
    }
}
@media (max-width:606px){
    .header ul li a {
        font-size: 14px;
        padding: 29px 11px 22px 11px;
    }
}
@media (max-width:566px){
    .header .header-text h1 {
        font-size: 35px;
    }
    
    .header .header-text h3 {
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
@media (max-width:489px){
    .header ul {
        display: none;
        
    }
}
/* ///////main tugadi */
/* //////section start */

section{
    background: url(../img/png.png) no-repeat center center;
    padding-top: 50px;
    padding-bottom: 125px;
    
}
section h2{
    font-size: 36px;
    color: var(--green);
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
section h2::after{
    content: '';
    display: block;
    max-width: 50%;
    width: 100%;
    height: 1px;
    background: var(--green);
    margin-top: 26px;
    
}
section p{
    font-size: 18px;
    color: #ffff;
    font-family: var(--r-r);
    margin-top: 30px;
}
/* /////section end */
/* ///// maps start */
.maps h3{
    font-size: 36px;
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    padding: 51px 0 58px;
    background: #ffff;
  
}
/* maps  */
/* footer */
footer{
    padding: 40px 0 51px;
    background: linear-gradient(to top, #459b03, #080503 );
}
.footer_info{
    width: 100%;
    
}
footer .phone{
    font-size: 24px;
    color:var(--green);
}




